+for-size(phone-only)
  .footer
    background-color: #7690c5
    padding: 30px 0
    display: flex
    flex-direction: column
    .container
      display: flex
      flex-direction: column
      align-items: center
      h2
        text-align: center
        margin: 0 auto
        color: #ffffff
        font-size: 60px
        font-weight: 700
        span
          font-weight: 300
      p
        margin: 0
          bottom: 50px
        text-align: center
        color: #ffffff
        font-size: 18px
    .info
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 30px
      .inner
        display: flex
        flex-direction: column
      a
        color: #ffffff
        margin: 5px
        font-size: 18px
        i
          margin-right: 10px
    form
      display: flex
      flex-direction: column
      align-items: center
      input, textarea
        margin-bottom: 10px
        min-width: 280px
        width: 80%
        padding: 5px
      .submit
          visibility: hidden
  .made
    p
      color: #ffffff
      font-size: 16px
      font-weight: 500
      text-align: center
    span::before
      content: ''
      display: block
      background-color: #87a0d2
      max-width: 500px
      height: 2px
      margin: 0 auto
        bottom: 30px

+for-size(tablet-portrait-up)
  .footer
    background-color: #7690c5
    padding: 100px 0 30px 0
    display: flex
    flex-direction: column
    align-items: center
    .container
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-items: flex-start
      justify-content: space-around
      .contact
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 50%
        margin-right: 1px
        h2
          color: #ffffff
          font-size: 60px
          font-weight: 700
          margin: 0
            bottom: 20px
          span
            font-weight: 300
        p
          margin: 0
            bottom: 50px
          text-align: left
          color: #ffffff
          font-size: 18px
        .info
          display: flex
          flex-direction: row
          justify-content: center
          width: 100%
          .inner
            width: 250px
            display: flex
            flex-direction: column
            align-items: flex-start
            a
              color: #ffffff
              font-size: 18px
              margin-bottom: 45px
              &:hover
                text-shadow: 0 0 10px #ebebeb,0 0 50px #ffffff
              i
                margin-right: 10px
      form
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 50%
        max-width: 400px
        input
          width: 100%
          height: 50px
          border: 1px solid #7690c5
          border-radius: 5px
          margin-bottom: 30px
          padding-left: 20px
        textarea
          width: 95%
          height: 200px
          padding: 20px
        .submit
          visibility: hidden

    .made
      p
        color: #ffffff
        font-size: 16px
        font-weight: 500
        text-align: center
      span::before
        content: ''
        display: block
        background-color: #87a0d2
        width: 990px
        height: 2px
        margin: 0 auto
         bottom: 30px










